# Accessing and Reading Local Files

First, install the required Python libraries if not done already. See
[Installing Required Python Libraries](../00_Installing_Required_Python_Libraries.md).

If you're new to Python, you might be interested in [Introduction to Python Lists and Dictionaries for Data Science](../01_Introduction_to_Python_Data_Types.md).

Begin by importing pandas.

In [1]:
import pandas as pd

## Access the CSV file

In [2]:
subscriptions_df = pd.read_csv('../../data/input/subscriptions.csv')

subscriptions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customerSubscrCode  3 non-null      int64
 1   customerSubscrStat  3 non-null      object
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes

In [3]:
subscriptions_df

   customerSubscrCode customerSubscrStat
0                   1             Member
1                   2               Gold
2                   3           Platinum

## Access the JSON file

In [4]:
json_df = pd.read_json('../../data/input/reviews.json')

In [5]:
json_df.head()

                                             reviews
0  {'reviewId': 765, 'Review_Text': 'If you are a...
1  {'reviewId': 767, 'Review_Text': 'I met my fri...
2  {'reviewId': 768, 'Review_Text': 'I bought the...
3  {'reviewId': 769, 'Review_Text': 'Great fit. i...
4  {'reviewId': 770, 'Review_Text': 'Precious tee...

The data is read in with a bad format, we need to tell pandas to read each row as data since each row is a dictionary:

In [6]:
reviews_df = pd.DataFrame.from_records(json_df['reviews'])
reviews_df.head()

,reviewId,Review_Text,Title
0,765,If you are afraid of the jumpsuit trend but li...,"Cute,looks like a dress on"
1,767,I met my friend at the mall today. she compli...,Don't like wearing dresses? try this.
2,768,I bought these assuming they would be the same...,All-in-all nice denim
3,769,Great fit. i love the slightly cropped leg and...,
4,770,"Precious tee, washes well, runs large",Nostalgia tee

## Access the SAS data set

In [7]:
techsupportevals_df = pd.read_sas("../../data/input/techsupportevals.sas7bdat")
techsupportevals_df.head()

       ID  techSupportEval
0  9155.0              3.0
1  9160.0              3.0
2  9163.0              2.0
3  9170.0              2.0
4  9175.0              2.0